*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*::selection {
    background-color: orangered;
    color: white;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    line-height: 1.6;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    background-color: lightblue;
    display: grid;
}

.sidebar {

}

.header {

}

.main {

}

.main__legend {

}

.main__container {

}

.card {

}